<h1>Nouveau ville</h1>

<% if @ville %>
    <%= form_for @ville, url: {action: "create"} do |f| %>

	    <% if !@ville.errors.full_messages.blank? %>
	        <h2 class="alert">
	            <% @ville.errors.full_messages.each do |error| %>
	                <span><%= error %></span>
	            <% end %>
	        </h2>
	    <% end %>
     
        <div class="fields_wrapper">
            <div class="field">
                <%= f.label :label %>
                <%= f.text_field :label, autofocus: true , :class => "form_input", :id => "newpost_form_title"%>
            </div>
        </div>

        <div class="actions">
            <%= f.submit "Create" %>
        </div>
        
    <% end %>

<% else %>
        <%= @message %>
<% end %>
