<div class="admin_bar col-sm-2">
	<%= render "shared/admin_bar" %>
</div>

<div class="admin_content col-sm-10">
	<div class="admin_header">
		<h1 class="center">Type - <%= @jobs.count %>  </h1>
		
		<%= button_to jobs_new_path, method: :get , class: "btn btn-success" do %>
			Ajouter un type
		<% end %>

	</div>

	<table class="table table-striped admin_table">
		<thead>
			<tr>
				<th>id</th>
				<th>Label</th>
				<th>Slug</th>
				<th>Edit</th>
			</tr>			
		</thead>

	<% @jobs.each do |job| %>
		<tr>
			<td><%= job.id %></td>
			<td><%= job.label %></td>
			<td><%= job.slug %></td>
			<td>
				<%= link_to jobs_edit_path(id: job.id ), class:"post-author", method: :get do %>
					edit
				<% end %>
			</td>
		</tr>

	<% end %>

</table>

