<h1>All job</h1>


<%= link_to jobs_new_path, method: :get do %>
					Nouvelle job
				<% end %>
<table border="1">
	<tr>
		<td>id</td>
		<td>Label</td>
		<td>Slug</td>
		<td>Edit</td>
	</tr>

	<% @jobs.each do |job| %>
		<tr>
			<td><%= job.id %></td>
			<td><%= job.label %></td>
			<td><%= job.slug %></td>
			<td>
				<%= link_to jobs_edit_path(id: job.id ), class:"post-author", method: :get do %>
					edit
				<% end %>
			</td>
		</tr>

	<% end %>

</table>

