
<div class="admin_header">
	<h1 class="center">User - <%= @portfolios.total_count %>  </h1>

	<button type="button" class="btn btn-success">Ajouter un user</button>
</div>

<table class="table table-striped admin_table">
	<thead>
		<tr>
			<th>id</th>
			<th>image</th>
			<th>Nom</th>
			<th>Email</th>
			<th>Profils</th>
			<th>Villes</th>
			<th>Visites</th>
			<th>portfolio</th>
			<th>image</th>
			<th class="like">Like</th>
			<th>Modifier</th>
			<th>Published</th>
			<th>SOTD</th>
			<!-- <th>Profils</th> -->
		</tr>
	</thead>
<% @portfolios.each do |portfolio| %>
		<tr>
			<td><%= portfolio.user.id %></td>
			<td><%= image_tag(portfolio.user.avatar_url, style: "max-width: 50px") if portfolio.user.avatar? %></td>
			<td><%= portfolio.user.firstname %> <%= portfolio.user.lastname %></td>
			<td><%= portfolio.user.email %></td>
			<td><%= portfolio.user.job.label if portfolio.user.job %></td>
			<td><%= portfolio.user.ville.label if portfolio.user.ville %></td>
			<td><%= portfolio.user.visite %></td>

			<% if portfolio %>
				<%= form_for portfolio, url: {action: "update", controller: "portfolios"} do |f| %>
				<td> <%= f.text_field :url, autofocus: true , :class => "form_input", :id => "newpost_form_title"%></td>

				<td><%= image_tag(portfolio.picture_url, style: "max-width: 50px") if portfolio.picture? %></td>
				<td class="like">
					 <%= f.text_field :like, autofocus: true , :class => "form_input", :id => "newpost_form_title"%>

					  <%= f.hidden_field :id %>
				  </td>


				  <td>
				  	<%= f.submit "Update" %>
				  </td>
	    	<% end  %>

			<% else  %>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			<% end %>


			<td class="toggle_published">

				<!-- start -->
				<% if portfolio %>
					<%	if portfolio.published %>
						<%= link_to admin_toggle_publish_path(id: portfolio.id ), remote: true, method: :get do %>
							<div class="publish-switch active">
								<div class="switch-background">
									<div class="switch-button"></div>
								</div>
							</div>
						<% end %>
					<%	else %>
						<%= link_to admin_toggle_publish_path(id: portfolio.id ), remote: true, method: :get do %>
							<div class="publish-switch">
								<div class="switch-background">
									<div class="switch-button"></div>
								</div>
							</div>
						<% end %>

					<%	end %>
				<% end %>
			</td>

			<td class="toggle_published">
				<!-- start -->
				<% if portfolio %>
					<%	if portfolio.siteoftheday %>
						<%= link_to admin_toggle_sotd_path(id: portfolio.id ), remote: true, method: :get do %>
							<div class="publish-switch active">
								<div class="switch-background">
									<div class="switch-button"></div>
								</div>
							</div>
						<% end %>
					<%	else %>
						<%= link_to admin_toggle_sotd_path(id: portfolio.id ), remote: true, method: :get do %>
							<div class="publish-switch">
								<div class="switch-background">
									<div class="switch-button"></div>
								</div>
							</div>
						<% end %>
					<%	end %>
				<% end %>
			</td>
		</tr>
<% end %>

</table>
<%= paginate @portfolios %>
