<%= @users.total_count %> user <br><br>


<table border="1">
		<tr>
			<td>id</td>
			<td>Nom</td>
			<td>Prenom</td>
			<td>Email</td>
			<td>Profils</td>
			<td>Visites</td>
			<td>portfolio</td>
			<td>Like</td>
			<td>Published</td>
			<td>Admin</td>
			<td>Profils</td>
			<td>Edit portfolio</td>

		</tr>
<% @users.each do |user| %>
	
		<tr>
			<td><%= user.id %></td>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= user.email %></td>
			<td><%= user.job.label %></td>
			<td><%= user.visite %></td>
			<td><%= user.portfolio.url if user.portfolio %></td>
			<td><%= user.portfolio.like if user.portfolio %></td>
			<td><%= user.portfolio.published if user.portfolio %></td>

			<td><%= user.admin %></td>
			<td>
				<%= link_to show_portfolio_path(slug: user.slug ), class:"post-author", method: :get do %>
				Detail du profils
				<% end %>
				
			</td>
			<td><%= link_to admin_edit_portfolio_path(id: user.portfolio.id ), class:"post-author", method: :get do  %>
				link
				<% end if user.portfolio  %></td>
		</tr>




<% end %>

</table>
<%= paginate @users %>