<%= @users.total_count %> posts <br><br>
<% @users.each do |user| %>
	<div>
		<li>
			<%= link_to show_portfolio_path(slug: user.slug ), class:"post-author", method: :get do %>
				Detail du profils
			<% end %>
		</li>
		


		<li><%= user.id %></li>
		<li><%= user.firstname %></li>
		<li><%= user.lastname %></li>
		<li><%= user.email %></li>
		<li>have pf = <%= user.have_pf %></li>
		<li>admin : <%= user.admin %></li>
	


		<li>
			<%= link_to show_category_path(category: user.job.slug ), class:"post-author", method: :get do %>
				<%= user.job.label %>
			<% end %>
		</li>



		<li><%= user.visite %> visite</li>
		<li>
			<%= link_to show_city_path(ville:  user.ville.slug ), class:"post-author", method: :get do %>
				<%= user.ville.label %>
			<% end %>
		</li>
		<li></li>
		<li><%= user.portfolio.url if user.portfolio %></li>
		<li> published : <%= user.portfolio.published if user.portfolio %></li>
		<li><%= user.portfolio.like if user.portfolio %> like</li>
		<li><%= user.portfolio.visite if user.portfolio %> visite</li>
	</div>

	<br><br>
	

<% end %>

<%= paginate @users %>