<%= @portfolios.total_count %> posts <br><br>
<% @portfolios.each do |portfolio| %>
	<div>
		<li>
			<%= link_to show_portfolio_path(slug: portfolio.user.slug ), class:"post-author", method: :get do %>
				Detail du profils
			<% end %>
		</li>



		<li><%= portfolio.user.id %></li>
		<li><%= portfolio.user.firstname %></li>
		<li><%= portfolio.user.lastname %></li>
		<li><%= portfolio.user.fullname %></li>
		<li><%= portfolio.user.email %></li>
		<li>have pf = <%= portfolio.user.have_pf %></li>
		<li>admin : <%= portfolio.user.admin %></li>
		<li>count : <%= portfolio.count %></li>

		<%= render "shared/like",  :portfolio => portfolio %>



		<li>
			<%= link_to show_category_path(category: portfolio.user.job.slug ), class:"post-author", method: :get do %>
				<%= portfolio.user.job.label %>
			<% end %>
		</li>



		<li><%= portfolio.user.visite %> visite</li>
		<li>
			<%= link_to show_city_path(ville:  portfolio.user.ville.slug ), class:"post-author", method: :get do %>
				<%= portfolio.user.ville.label %>
			<% end %>
		</li>
		<li></li>

		<li>
			<%= link_to portfolio.url, target: '_blank' , :class => "post-likes" do %>
				link
			<% end %>
		</li>
		<li><%= portfolio.url if portfolio %></li>
		<li> published : <%= portfolio.published if portfolio %></li>
		<li><%= portfolio.like if portfolio %> like</li>
		<li><%= portfolio.visite if portfolio %> visite</li>
	</div>

	<br><br>


<% end %>

<%= paginate @portfolios %>