
<div class="admin_header">
	<h1 class="center">User - <%= @users.total_count %>  </h1>

	<button type="button" class="btn btn-success">Ajouter un user</button>
</div>

<table class="table table-striped admin_table">
	<thead>
		<tr>
			<th>id</th>
			<th>image</th>
			<th>Nom</th>
			<th>Email</th>
			<th>Profils</th>
			<th>Visites</th>
			<th>portfolio</th>
			<th>image</th>
			<th class="like">Like</th>
			<th>Modifier</th>
			<th>Published</th>
			<th>Admin</th>
			<!-- <th>Profils</th> -->

		</tr>
	</thead>
<% @users.each do |user| %>
	
		<tr>
			<td><%= user.id %></td>
			<td><%= image_tag(user.avatar_url, style: "max-width: 50px") if user.avatar? %></td>
			<td><%= user.firstname %> <%= user.lastname %></td>
			<td><%= user.email %></td>
			<td><%= user.job.label %></td>
			<td><%= user.visite %></td>

			<% if user.portfolio %>
				<%= form_for user.portfolio, url: {action: "update", controller: "portfolios"} do |f| %>
				<td> <%= f.text_field :url, autofocus: true , :class => "form_input", :id => "newpost_form_title"%></td>

				<td><%= image_tag(user.portfolio.picture_url, style: "max-width: 50px") if user.portfolio.picture? %></td>
				<td class="like">		
					 <%= f.text_field :like, autofocus: true , :class => "form_input", :id => "newpost_form_title"%>

					  <%= f.hidden_field :id %>
				  </td>


				  <td>
				  	<%= f.submit "Update" %>
				  </td>
	    	<% end  %>
				
			<% else  %>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			<% end %>

			
			<td>
				<%= link_to admin_toggle_publish_path(id: user.portfolio.id ), class:"post-author", method: :get do %>
					<%= user.portfolio.published  %>
				<% end if user.portfolio %>
			</td>

			<td><%= user.admin %></td>
			<!-- <td>
				<%= link_to show_portfolio_path(slug: user.slug ), class:"post-author", method: :get do %>
				Profils
				<% end %>
				
			</td> -->
		</tr>




<% end %>

</table>
<%= paginate @users %>