<%= @users.total_count %> user <br><br>


<table border="1">
		<tr>
			<td>id</td>
			<td>Nom</td>
			<td>Prenom</td>
			<td>Email</td>
			<td>Profils</td>
			<td>Visites</td>
			<td>portfolio</td>
			<td>Like</td>
			<td>Edit portfolio</td>
			<td>Published</td>
			<td>Admin</td>
			<td>Profils</td>

		</tr>
<% @users.each do |user| %>
	
		<tr>
			<td><%= user.id %></td>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= user.email %></td>
			<td><%= user.job.label %></td>
			<td><%= user.visite %></td>

			<% if user.portfolio %>
				<%= form_for user.portfolio, url: {action: "update", controller: "portfolios"} do |f| %>
				<td> <%= f.text_field :url, autofocus: true , :class => "form_input", :id => "newpost_form_title"%></td>
				<td>		
				 <%= f.text_field :like, autofocus: true , :class => "form_input", :id => "newpost_form_title"%>

				  <%= f.hidden_field :id %>
				  
				  </td>


				  <td>
				  	<%= f.submit "Update" %>
	    		<% end  %>
				  </td>
				
			<% else  %>
				<td></td>
				<td></td>
				<td></td>
			<% end %>
			
			<td>
				<%= link_to admin_toggle_publish_path(id: user.portfolio.id ), class:"post-author", method: :get do %>
					<%= user.portfolio.published  %>
				<% end if user.portfolio %>
			</td>

			<td><%= user.admin %></td>
			<td>
				<%= link_to show_portfolio_path(slug: user.slug ), class:"post-author", method: :get do %>
				Detail du profils
				<% end %>
				
			</td>
		</tr>




<% end %>

</table>
<%= paginate @users %>