<!DOCTYPE html>
<html>
  <head>
    <title>Portfolios</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="connect">
        <% if !user_signed_in? %>
            <div class="not-connected">
            <%= link_to "Sign in", new_user_session_path, method: :get %>
            <span>/</span>
            <%= link_to "Sign up", new_user_registration_path, method: :get %>
            </div>
        <% else %>

            <div class="profile">
                <p><%= current_user.name %></p>
                <div class="collapse">
                    <%= link_to "Modifier", edit_user_registration_path, method: :get %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    <%= link_to "Modifier portfolio", edit_portfolio_path, method: :get %>
                </div>
            </div>

            <div class="admin_header">
                <%= link_to "Job", jobs_index_path, method: :get %>
                <%= link_to "Ville", villes_index_path, method: :get %>
                <%= link_to "Home", admin_home_path, method: :get %>
            </div>
            
        <% end %>
    </div>

    --------------- end header -------------


  		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

       	
    <%= yield %>
  </body>
</html>
