<!DOCTYPE html>
<html>
  <head>
    <title>Portfolios</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <link rel="stylesheet" href="/assets/css/main.css">
    
    <!-- For admin -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>
 <!--    <div class="connect">
        <% if !user_signed_in? %>
            <div class="not-connected">
            <%= link_to "Sign in", new_user_session_path, method: :get %>
            <span>/</span>
            <%= link_to "Sign up", new_user_registration_path, method: :get %>
            </div>
        <% else %>

            <div class="profile">
                <p><%= current_user.name %></p>
                <div class="collapse">
                    <%= link_to "Modifier", edit_user_registration_path, method: :get %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    <%= link_to "Modifier portfolio", edit_portfolio_path, method: :get %>
                </div>
            </div>

            
        <% end %>
    </div> -->




  		<p class="push notice"><%= notice %></p>
       	<p class="push alert"><%= alert %></p>

       	
    <%= yield %>
  </body>
</html>
